
.inactive {
    display: none;
}
.navbar-items:focus{
    text-decoration: underline;
    text-underline-offset: 4;
}
@media (max-width: 768px) {
    .inactive {
        display: flex;
        padding: 0;
    }
    .navbar-items {
        display: none;
    }
    .navbar-mobile-title {
        position: fixed;
        padding-left: 30px;
    }
}